/* -------------------------------page entière -----------------------------------------------*/



a {
  text-decoration: none;
  color: #000000DE;
}

a:hover{
  text-decoration: underline;
}

body{
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.page_entiere{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}


/* -------------------------------Barre du haut--------------------------------------------- */


.barre_du_haut{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
/*--------------- barre gmail et image----------- */
.gm_img_barre{
  display: flex;
  justify-content: flex-end;
  line-height: 24px;
}
/* --- barre gmail --- */

.gm_barre{
  margin-right: 20px;
}
.Gmail{
  color: #000000DE;
}

/*--- barre images --- */
.img_barre{
  margin-right: 20px;
  text-decoration: none;
}
.Images{
  color: #000000DE;
  text-decoration: none;
}
/*-------------- barre application et conexion -----------------*/
.app_cnx{
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  line-height: 24px;
}
/*--- barre svg ---*/
/* gestion du svg */
.appli img {
  width: 32px;
  height: 50px;
  margin-right: 20px;
  color: #000000DE;
}
.app{
  content: "";
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;
}

/* --- barre Connexion --- */

.Connexion{
  background-color: #1a73e8;
  border-radius: 5px; /* pour creer des coins arrondis */
  padding: 0.8em 1.75em ;
  text-align: center; /* pour centrer le texte horizontalement */
  color: white; /* pour changer la couleur du texte en blanc */
  font-weight: bold; /* pour mettre en gras le texte */
  line-height: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-decoration: none;
}
/*---------------------------------- rectangle haut-------------------------- */
.rectangle_haut{
  max-width: 1259px;
  max-height: 290px;
  display: flex;
  justify-content: center;
  align-content: flex-end;
  flex-direction: column;
}
.Logo{
  width: 292px;
}
/*--------------------------------- padding central-------------------------- */

.padding_central{
  padding: 20px;
  display: flex;
  align-self: center;
}

/*--------------- rectagngle de recherche -------------*/
.rectangle_recherche{
  width: 946px;
  height: 40px;
  border-color: lightgray;
  border-style: solid;
  border-radius: 20px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  column-width: 2;
  justify-content: center;
  align-items: center;
}
.search-box{
  width: 945px;
  height: 38.5px;
  border: none;
  border-radius: 20px;
  display: flex;
}
/*----------- rectangle bouttons----------------------*/
.rectangle_bouttons{
  height: 58px;
  display: flex;
  justify-content: center;

}
.rechercher{
  margin: 11px 4px;
  padding: 0px 16px;
  width: 143.16px 36px;
  background: #F8F9FA;
  border: none;
}
.lucky{
  margin: 11px 4px;
  padding: 0px 16px;
  width: 143.16px 36px;
  background: #F8F9FA;
  border: none;
  
}
/* ----------------- rectangle bas --------------*/
footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  word-spacing: 0.5em;
  padding: 10px 20px; /* Ajout de marges intérieures pour espacer le contenu du footer */
  background-color: #f8f9fa; /* Ajout d'une couleur de fond pour le footer */
}

.barreba_droite, .barreba_gauche {
  display: flex;
}
.barreba_climat{
  display: flex;
  justify-content: center;
  padding-left: 500px;

}
.propos{
  padding-right: 15px;

}
.pub{
  padding-right: 15px;
}
.entreprise{
  padding-right: 15px;
}
.signaler{
  padding-right: 15px;
}
.info_c{
  padding-right: 15px;
}
.confidentialite{
  padding-right: 15px;
}
.conditions{
  padding-right: 15px;
}
.lien{
  display: flex;
  gap: 150px;
}
